@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@variant dark (html.dark &);

html {
  @apply bg-white dark:bg-black;
  min-height: 100%;
}

body {
  @apply bg-white dark:bg-black transition-colors duration-200;
  min-height: 100%;
}

html.dark {
  color-scheme: dark;
  background-color: #000000;
}

html:not(.dark) {
  color-scheme: light;
  background-color: #ffffff;
}
